hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdef0;
}

.title {
  font-size: 2rem;
}

.title.center {
  text-align: center;
}

.text {
  color: #293264;
  font-family: 'karla', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.button-text {
  color: #f5f7fb;
  font-family: 'inter', sans-serif;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f5f7fb;
}

.quizzical {
  padding: 5rem;
  display: grid;
  gap: 0.7rem;
  text-align: center;

  background: #e7eefa;
  border-radius: 10px;
}

.btn {
  margin-top: 1.12rem;

  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  background: #4d5b9e;
  color: white;
  cursor: pointer;
}

.btn-small {
  margin: 0;
}

.btn:hover {
  background: #394891;
}

/*------------------------ Questions Css -------------------------*/

.quizzical-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;

  background: #e9eef8;
}

.options {
  display: flex;
  align-items: center;
  gap: 0.794375rem;
  margin-top: 0.885625rem;
}

.quizzical-questions > .question > .options > span {
  display: inline-flex;
  padding: 0.4rem;

  color: #293264;
  border: 1px solid #4d5b9e;
  border-radius: 7.94239px;

  cursor: pointer;
}

.play-again {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.chosen {
  background: #c7cef3;
  background: #b8c3fa;
  color: white;
}

.opaccity {
  opacity: 0.7;
}
.correct {
  background: #94d7a2;
  opacity: 1;
}

.wrong {
  background: #f8bcbc;
}
